### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Storetarget/FSWEB-S13D3-Java-Projesi-1.0-SNAPSHOT.jar target/classes target/generated-sources target/generated-test-sources target/maven-archiver target/maven-status target/surefire-reports target/test-classes
target/
